# Ignore bin and obj directories
**/bin/
**/obj/

# Ignore user-specific files
*.user
*.userprefs
*.suo
*.csproj.user

# Ignore build and deployment files
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Ignore Visual Studio files
.vscode/
*.sln
*.csproj
*.sln.docstates
